@model AseguradoraGAP.Models.PolizaModel

@{
    ViewBag.Title = "Detalle";
}

<h2>Detalle</h2>

<div>    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            Tipo Cobertura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoCobertura)
        </dd>

        <dt>
            Cobertura
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cobertura)
        </dd>

        <dt>
            Inicio Vigencia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inicioVigencia)
        </dd>

        <dt>
            Periodo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.periodo)
        </dd>

        <dt>
            Precio
        </dt>

        <dd>
            @Html.DisplayFor(model => model.precio)
        </dd>

        <dt>
            Riesgo
        </dt>

        <dd>
            @Html.DisplayFor(model => model.riesgo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Volver a la lista", "Index")
</p>
